hr {border-style: none;
    border-top-style: dotted;
    border-color: rgb(64, 64, 64);
     border-width: 5px;
     width: 7%;}
     
     body {background-color:#bfd9d9;}
     table, td, th {border: 2px solid;}
     table { border-collapse: collapse;}
     #krish{border: 5px solid #16213E;}
     
     section{
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 35vh;
        width: 100%;   } 
        body{
            
            font-family: 'poppins',sans-serif;
            font-size: large;
            padding: 0;
            margin: 0;
        }
h1 {
    color: #1f7979;
}
h2 {
    color: #459999;
}
.hidden {
    opacity: 0;
    transition:all 1s ;
    filter: blur(6px);
    transform: translateX(-6%);
    }
    
.show { 
        opacity: 2;
        filter: blur(0);
        transform: translateX(0);
    }
    
    .logos{ display:flex}
    .logo:nth-child(1){
        transition-delay: 200ms;
        padding-left: 60px;
    }

    .logo:nth-child(2){
        transition-delay: 400ms;
        padding-left: 110px;
    }
    .logo:nth-child(3){
        transition-delay: 600ms;
        padding-left: 60px;
        
    }
 
  
     

